<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <div class="ui fixed massive menu stackable">
      <a class="header item" href="/"><i class="code icon"></i>
        My Blog
      </a>
      <i class="bars icon" id="icon" ></i>
      <a class="item" href="/">
        Home
      </a>
      <a class="item" href="/blogs/new">
        New Post
      </a>
      <div class="right menu">
      <% if(!currentUser){%>
          <div class="item">
              <a class="ui blue basic button" href="/login" style=" width: 100%;">Login</a>
          </div>

          <div class="item">
              <a class="ui primary button" href="/register" style="color: white; width: 100%;">Sign Up</a>
          </div>
        <%}
        else{%>
          <div class="item">
            <i class="user icon"></i> <%=currentUser.name%>
          </div>
          <div class="item">
              <a class="ui red basic button" href="/logout" style=" width: 100%;">Log Out</a>
          </div>
      <% };%>

        <!-- <div class="ui dropdown item">
          Language <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div> -->
      </div>
    </div>
