<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <div class="ui fixed massive menu stackable">
      <a class="header item" href="/"><i class="code icon"></i>
        My Blog
      </a>
        <a class="item" href="/">
          Home
        </a>
        <a class="item" href="/blogs/new">
          New Post
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">English</a>
              <a class="item">Russian</a>
              <a class="item">Spanish</a>
            </div>
          </div>
          <div class="item">
              <div class="ui primary button">Sign Up</div>
          </div>
        </div>
      </div>
