<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    
    <div class="ui fixed massive menu stackable">
      <div class="header item" >
        <a href="/" style="color: black;"><i class="code icon"></i>My Blog</a>
      </div>
      <i class="bars icon" id="icon" ></i>
      <a class="item" href="/">
        <i class="home icon"></i>Home
      </a>
      <a class="item" href="/blogs/new">
        <i class="edit icon"></i>New Post
      </a>
      <div class="right menu">
      <% if(!currentUser){%>
          <div class="item">
              <a class="ui blue basic button" href="/login" style=" width: 100%;">Login</a>
          </div>

          <div class="item">
              <a class="ui primary button" href="/register" style="color: white; width: 100%;">Sign Up</a>
          </div>
        <%}
        else{%>
          <div class="item">
            <i class="user icon"></i> <%=currentUser.name%>
          </div>
          <div class="item">
              <a class="ui red basic button" href="/logout" style=" width: 100%;">Log Out</a>
          </div>
      <% };%>
        </div>
      </div>
    </div>
<% if(error && error.length>0){%>
<div class="ui negative message container segment main text">
  <div class="header">
    <%=error%>
  </div>
</div>
<%}%>
<% if(success && success.length>0){%>
<div class="ui positive message container segment main text">
  <div class="header">
    <%=success%>
  </div>
</div>
<%}%>
<% if(warning && warning.length>0){%>
<div class="ui warning message container segment main text">
  <div class="header">
    <%=warning%>
  </div>
</div>
<%}%>
