<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">
    Log In!
  </div>
  <form class="ui form" action="/login" method="post">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password">
    </div>
    <div class="ui buttons">
      <button type="button" class="ui button"><a href="/blogs">Cancel</a></button>
      <div class="or"></div>
      <button type="submit" class="ui positive button">Log In!</button>
    </div>
  </form>
</div>
<% include ./partials/footer %>
