<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    New Blog Post
  </div>
  <form class="ui form" action="/blogs" method="post">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" placeholder="Title">
    </div>
    <div class="field">
      <label>Image URL</label>
      <input type="text" name="blog[image]" placeholder="Image URL">
    </div>
    <div class="field">
      <label>Blog Content</label>
      <textarea name="blog[body]"></textarea>
    </div>
    <div class="ui buttons">
      <button type="button" class="ui button"><a href="/blogs">Cancel</a></button>
      <div class="or"></div>
      <button type="reset" class="ui button">Reset</button>
      <div class="or"></div>
      <button type="submit" class="ui positive button">Post</button>
    </div>
    <div class="description" style="padding-top: 5px;">
      <strong>Tip: </strong>You can use HTML tags like strong and p and different styling to style your text.
    </div>
  </form>
</div>
<% include ./partials/footer %>
