<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    Get Started!
  </div>
  <form class="ui form" action="/register" method="post">
    <div class="field">
      <label>Your Name</label>
      <input type="text" name="name" placeholder="Full Name" required>
    </div>
    <div class="field">
      <label>E-Mail</label>
      <input type="email" name="email" placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username"  pattern="[a-z A-Z0-9\\_\\]+$" title="Username may only contain lowercase letters, underscore and numbers, and length should be 5 to 15 characters" minlength="5" maxlength="15" required>
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="password" name="password" required>
    </div>
     <button type="submit" class="ui primary button">
        Sign Up!
      </button>
      <button type="button" class="ui button">
        <a href="/blogs">Cancel</a>
      </button>
  </form>
  <ol class="ui list" style=" padding-top: 10px;">
    <p class="ui header"><i class="lightbulb icon"></i>Things to keep in mind:</p>
    <li><strong>Username:</strong>
      <ol>
        <%rules.username.forEach(function(rule){%>
          <li><%=rule%></li>
        <%})%>
      </ol>
    </li>
    <li><strong>Password:</strong>
      <ol>
        <%rules.password.forEach(function(rule){%>
          <li><%=rule%></li>
        <%})%>
      </ol>
    </li>
  </ol>
</div>
<% include ./partials/footer %>
