
.container.main{
  margin-top: 5.23em;
}
.delete{
  display: inline;
}
.description{
  padding-bottom: 10px;
  font-size: 1.23em;
}
p{
  margin-bottom: 5px;
}
.comments{
  padding: 10px 0;
  display: none;
  transition: display 0.7s;
}
.commentBar{
  display: block;
}
#icon{
  display: none;
  font-size: 2em;
  padding: 15px;
  position: absolute;
  right: 15px;;
}

.commentOptions{
  display: none;
}
#commentOption{
  text-align: right;
  float: right;
  font-size: 1.5em;
}
#commentOption:hover{
  cursor: pointer;
}
.postOptions{
  display: none;
  padding-top: 5px;
}
#postOption{
  text-align: right;
  float: right;
  font-size: 1.5em;
}
#postOption:hover{
  cursor: pointer;
}

@media screen and (max-width : 767px) {
  .ui.fixed.massive.stackable.menu a:not(:first-child) {display: none;}
  .ui.fixed.massive.stackable.menu div{display: none;}
  #icon {display: block;}
}
@media screen and (max-width : 767px) {
  .ui.fixed.massive.stackable.menu.show a:not(:first-child) {display: block;}
  .ui.fixed.massive.stackable.menu.show div{display: block;}
  #icon {display: block;}
}
