body{
  padding-top: 5.23em;
  transition: all 0.7s;
}

.delete{
  display: inline;
}
.description{
  padding-bottom: 10px;
  font-size: 1.23em;
}
p{
  margin-bottom: 5px;
}
.comments{
  padding: 10px 0;
  display: none;
}
.commentBar{
  display: block;
}
#icon{
  display: none;
  font-size: 2em;
  padding: 15px;
  position: absolute;
  right: 15px;
}

.btn{
  outline: none;
  border: none;
  background-color: inherit;
}

.comment{
  font-size: 18px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex-basis: 0.5;
}
.comment div{
  width: 50%;
}

.commentText{
  padding: 7px;
}

.commentOptions{
  text-align: end;
}

.commentOptions .icon{
  font-size: 14px;
}

.btn:hover{
  cursor: pointer;
  /* font-size: 1.2em; */
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn span{
  font-size: 14px;
  display: none;
}

.btn:hover span{
  display: inline-block;
}

#icon:hover{
  cursor: pointer;
}
.postOptions{
  display: none;
  padding-top: 5px;
}
#postOption{
  text-align: right;
  float: right;
  font-size: 1.5em;
}
#postOption:hover{
  cursor: pointer;
}

@media screen and (max-width : 767px) {
  .ui.fixed.massive.stackable.menu a:not(:first-child) {display: none;}
  .ui.fixed.massive.stackable.menu div:not(:first-child){display: none;}
  #icon {display: block;}
  
}
@media screen and (max-width : 767px) {
  .ui.fixed.massive.stackable.menu.show a:not(:first-child) {display: block;}
  .ui.fixed.massive.stackable.menu.show div{display: block;}
  #icon {display: block;}
}
